{% extends 'blog/index.html' %}
{% load static %}


{% block content %}
<main>
    <section class="conteudo-list">
        {% for item in comment %}
        <div class="item-comment-list">        
            <p class="item-comment-text">Comentário: {{item.text |linebreaksbr }}</p>
            <p class="item-comment-author">Autor(a): {{ item.author|linebreaksbr }}</p>
            <p class="item-comment-postk">Post: {{item.post}}</p>
            <p class="item-comment-createddate">Data de criação: {{ item.created_date|linebreaksbr }}</p>
            <br><hr>
        </div>
        {% endfor %}
    </section>
</main> 
{% endblock %}

