{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">

<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Diário de aprendizado de programação">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/blog.css' %}">
    <title>Post blog</title>

</head>

<body>
    <header class="cabecalho">
        <a href="{% url 'index' %}"><img class="cabecalho-imagem" src="{% static 'blog/images/blog-domain-logo.png' %}" 
        alt="logo-blog"> </a>               
        <nav class="cabecalho-menu">
            <a class="cabecalho-menu-item" href="{% url 'post_list' %}">Posts</a>
            <a class="cabecalho-menu-item" href="{% url 'post_new' %}">New post</a>
            <a class="cabecalho-menu-item" href="{% url 'comments' %}">Comments</a>
        </nav>
        
    </header>
    {% block content %}
    <main class="conteudo">
    
        <section class="conteudo-principal">
            <div class="conteudo-principal-escrito" >
                <h1 class="conteudo-principal-escrito-titulo">Erica's post blog</h1>
                <h2 class="conteudo-principal-escrito-subtitulo">Portfólio de aprendizado com Django</h2>
                <a href="https://www.linkedin.com/in/erica-fernandes-385510103/"><button class="conteudo-principal-escrito-botao">Me conheça</button></a>
            </div>
            <img 
            class="conteudo-principal-imagem"
            src="{% static 'blog/images/1200px-Django_logo.svg.png' %}" 
            alt="logo-django">
        </section>
        <section class="conteudo-secundario">
            <h3 class="conteudo-secundario-titulo">Registre seus posts de aprendizado</h3>
            <p class="conteudo-secundario-paragrafo">Registre <strong>documentações, conceitos e ferramentas exploradas </strong>a cada dia de estudo.</p>
            <p class="conteudo-secundario-paragrafo">Detalhe <strong>dificuldades, descobertas e discussões</strong>.</p>
            <p class="conteudo-secundario-paragrafo">E ainda, defina novos objetivos, seus <strong>próximos passos </strong> sempre!</p>
        </section>
    </main>
    {% endblock %}
    <footer class="rodapé">
        <img class="rodapé-imagem" src="{% static 'blog/images/blog-domain-logo.png' %}" alt="logo-blog">
    </footer>

</body>
</html>