{% extends 'blog/index.html' %}
{% load static %}


{% block content %}
<body>
    <main class="conteudo-post-list">
        <div class="conteudo-posts">
            <section class="post-list">
                <div class="item-post-list">
                    <p class="autor-item-post-list">Autor: {{post.author | linebreaksbr }}</p>
                    <h2 class="titulo-item-post-list">{{ post.title }}</h3>
                    <p>{{ post.text|linebreaksbr }}</p>
                    <p class="datapublicação-item-post-list">Data de publicação: {{ post.published_date }}</p>
                    {% if user.is_authenticated %}
                    <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><button type="submit" class="botao-post-edição">Editar</button></a>
                    {% endif %}
                </div>
            </section>
        </div>
        <section class="comments">
            <p class="conteudo-comment"><strong>Comentários:
            {% if user.is_authenticated %}
                <div class="comment-form">
                    <form method="POST" class="comment-form-text-area">{% csrf_token %} <!-- csrf_token: segurança do form -->
                    {{ form.as_p }} <!--chamar o formulário para mostrar no template, tag do django (Form is rendered as paragraphs in the template)-->
                    <button type="submit" class="form-button-save">Save</button>
                    </form> <!-- tag html form : <form></form> -->                    
                </div>
            {% endif %}</strong></p>
            {% for item in comment %}
                <div class="item-comment-post">                
                    <p class="texto-comment-post">Comentário: {{item.text |linebreaksbr }}</p>
                    <p class="autor-comment-post">Autor(a): {{ item.author|linebreaksbr }}</p>
                    <p class="postpk-comment-post">Post: {{item.post}}</p>
                    <p class="datacriação-comment-post">Data de criação: {{ item.created_date|linebreaksbr }}</p>
                </div>
            {% endfor %}
        </section>
    </main>
</body>
{% endblock %}

    
        
    
        

