{% extends 'blog/index.html' %}
{% load static %}
{% load widget_tweaks %}


{% block content %}
<main class="conteudo-post-list">
  <div class="conteudo-posts">
    <section class="post-list">
      <div class="item-post-list">
        <p class="autor-item-post-list">Autor: {{post.author | linebreaksbr }}</p>
        <h2 class="titulo-item-post-list">{{ post.title }}</h2>
        <p>{{ post.text|linebreaksbr }}</p>
        <p class="datapublicação-item-post-list">Data de publicação: {{ post.published_date }}</p>
        {% if user.is_authenticated %}
        <button class="btn btn-default"><a href="{% url 'post_edit' pk=post.pk %}">
          Editar
        </a></button>
        
        {% endif %}
      </div>
    </section>
  </div>
  <section class="comments">
    <div class="conteudo-comment">
      <p><strong>Comentários:</strong></p>
    {% if user.is_authenticated %}    
      <button type="button" class="btn btn-light" onclick="action()">+</button>
    </div>    
    <div class="comment-form" id="comment-form" style="display: none;">
      <form method="POST" class="comment-form-text-area">{% csrf_token %} <!-- csrf_token: segurança do form -->
        <div>
          <section>
            <div class="comment-author">
              <label>Autor</label>
              {% render_field form.author %}  
            </div>
            
            <label>Texto</label>
            {% render_field form.text %}
          </section>
        </div>
        <!--{{ form.as_p }} chamar o formulário para mostrar no template, tag do django (Form is rendered as paragraphs in the template)-->
        <button type="submit" class="btn btn-default">Salvar</button>
      </form> <!-- tag html form : <form></form> -->                    
    </div>
    {% endif %}
    {% for item in comment %}
    <div class="item-comment-post">                
      <p class="texto-comment-post">Comentário: {{item.text |linebreaksbr }}</p>
      <p class="autor-comment-post">Autor(a): {{ item.author|linebreaksbr }}</p>
      <p class="postpk-comment-post">Post: {{item.post}}</p>
      <p class="datacriação-comment-post">Data de criação: {{ item.created_date|linebreaksbr }}</p>
    </div>
    {% endfor %}
  </section>
</main>
{% endblock %}

{% block script %}
<script>
  function action() {
    const element = document.getElementById("comment-form");
    if (element.style.display == "none") {
      element.style.display = "block";
    } else {
      element.style.display = "none";
    }
  }
</script>
{% endblock script %}





